# PostreSQL DB Connection
DB_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# API Keys
ALPHAVANTAGE_API_KEY=
FMP_API_KEY=
TWELVE_DATA_API_KEY=

# API URLs
NSE_IND=
BSE_IND=
YAHOO_FINANCE=
TWELVE_DATA=

# cors origin (comma seperated without space)
CORS_ORIGINS=

